<div class="bg-black justify-content-center text-center" id="sidebar">
  <h2 class="pt-4">Algoritmos de Busqueda</h2>
  <hr class="text-white">
  <div class="list-group m-3">
    <button class="btn list-group-item list-group-item-action"> Cuadrados Medios </button>
  </div>
  <div class="list-group m-3">
    <button class="btn list-group-item list-group-item-action"> ... </button>
  </div>
  <div class="list-group m-3">
    <button class="btn list-group-item list-group-item-action"> ... </button>
  </div>
  <div class="list-group m-3">
    <button class="btn list-group-item list-group-item-action" (click)="ViewModule('Personalizado')"> Personalizado </button>
  </div>
</div>
